@media screen and (max-width: 1200px) {

    header {
        padding: 24px 15px;
    }

    .what_we_do {
        padding-top: 56px;
        padding-bottom: 50px;
    }

    .what_we_do_container {
        max-width: 1200px;
    }

    .what_we_do .item {
        max-width: 45%;
        max-height: 45%;
        margin-bottom: 40px;
    }

    .what_we_do_container .d-flex {
        justify-content: space-evenly;
    }

    .past_clients {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer_container {
        margin-right: 16px;
        margin-left: 16px;
    }

    .main_banner {
        height: 80vh;
    }

    .fuji-section, .monstera-section, .himalayas-section {
        min-height: 500px;
    }
}

/*@media screen and (max-width: 1024px)*/

/*@media screen and (max-width: 992px)*/

/*@media screen and (max-width: 960px)*/

/*@media screen and (max-width: 820px)*/

/*@media screen and (max-width: 834px)*/

@media screen and (max-width: 992px) {
    header ul li a {
        margin-right: 20px;
    }

    header ul li:first-of-type a {
        margin-right: 20px;
        font-size: 15px;
        margin-top: 10px;
    }

    .main_banner {
        height: 50vh;
    }

    .main_banner_general-text {
        max-width: 480px;
    }

    .main_banner h2 {
        line-height: 16px;
        font-size: 12px;

    }

    .main_banner h1 {
        font-size: 48px;

    }

    .main_banner p {
        margin-bottom: 18px;
        font-size: 12px;
        line-height: 17px;
    }


    .what_we_do_container {
        max-width: 820px;
    }

    .what_we_do_container .d-flex {
        justify-content: space-evenly;
    }

    .what_we_do h2 {
        font-size: 30px;
        line-height: 32px;
    }

    .what_we_do h3 {
        font-size: 17px;
        line-height: 22px;
    }

    .what_we_do .item {
        max-width: 45%;
        max-height: 45%;
        margin-bottom: 24px;

    }

    .what_we_do .item .description {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        bottom: 20px;
        font-size: 10px;
        line-height: 13px;
    }

    .what_we_do .item .description h4 {
        margin-bottom: 20px;
    }

    .btn {
        font-size: 12px;
        line-height: 12px;
        padding-right: 10px;

    }

    .btn:before {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
    }

    .fuji-section, .monstera-section, .himalayas-section {
        min-height: 450px;
    }

    .fuji-section_general_text, .monstera-section_general_text, .himalayas-section_general_text {
        max-width: 250px;
        margin-right: 40px;
    }

    .fuji-section h5, .fuji-section p, .monstera-section h5, .monstera-section p, .himalayas-section h5, .himalayas-section p {
        font-size: 10px;
        line-height: 14px;
    }

    .past_clients {
        padding-top: 56px;
        padding-bottom: 70px;
    }

    .past_clients h3 {
        font-size: 27px;
        line-height: 28px;
    }

    .past_clients h4 {
        margin-top: 10px;
        font-size: 17px;
        line-height: 20px;
    }

    .owl-nav .owl-prev {
        position: absolute;
        left: 0;
        top: 67px;
    }

    .owl-nav .owl-next {
        position: absolute;
        right: 0;
        top: 67px;
    }

    .clients_logos {
        padding-top: 41px;
    }

    .getintouch-section {
        padding-top: 56px;
        padding-bottom: 54px;
    }

    .getintouch-section h3 {
        font-size: 27px;
        line-height: 28px;
    }

    .getintouch-section h4 {
        margin-top: 10px;
        font-size: 17px;
        line-height: 20px;
    }

    .footer-first_part p {
        max-width: 220px;
    }

    .footer-first_part {
        margin-right: 30px;
    }
}


@media screen and (max-width: 800px) {
    header ul li a {
        margin-right: 10px;
        font-size: 12px;
    }

    header ul li:first-of-type a {
        margin-right: 10px;
        font-size: 12px;
        margin-top: 10px;
    }

    header ul li:nth-child(4) a {
        margin-right: 10px;
    }

    header ul li:last-of-type a {
        padding: 5px 10px 6px;
        font-size: 11px;
        margin-top: 4px;
    }
}

@media screen and (max-width: 768px) {


    .main_banner {
        height: 50vh;
    }

    .clients_logos {
        max-width: 730px;
    }

    .fuji-section_general_text {
        max-width: 222px;
        margin-right: 40px;
    }

    .monstera-section_general_text {
        max-width: 222px;
        margin-right: 40px;
    }

    .himalayas-section_general_text {
        max-width: 222px;
        margin-right: 40px;
    }

    .footer_container {
        max-width: 730px;
    }


    .subscription form {
        width: 384px;
    }

    .subscription input {
        width: 300px;
    }
}

@media screen and (max-width: 620px) {
    header ul {display: none;}
}

@media screen and (max-width: 428px) {
    header ul {
        display: none;
    }


    .main_banner {
        height: 50vh;
        padding-bottom: 31px;
    }

    .main_banner_general-text {
        max-width: 400px;
    }

    .main_banner h2 {
        font-size: 10px;
        line-height: 10px;
    }

    .main_banner h1 {
        font-size: 27px;
        line-height: 29px;
    }

    .main_banner p {
        font-size: 10px;
        line-height: 10px;
        margin-top: 10px;
    }

    .adaptive_photo_info li {
        font-size: 8px;
        line-height: 8px;
        margin-left: 12px;

    }

    .adaptive_photo_info {
        bottom: 21px;
        right: 20px;
    }

    .adaptive_photo_info li:first-of-type:before {
        height: 8px;
        width: 8px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .adaptive_photo_info li:nth-child(2):before {
        width: 8px;
        height: 8px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .adaptive_photo_info li:nth-child(3):before {
        width: 16px;
        height: 8px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .adaptive_photo_info li:last-of-type:before {
        width: 5px;
        height: 8px;
        background-size: 100%;
        background-repeat: no-repeat;
    }


    .what_we_do {
        padding-top: 38px;
        padding-bottom: 33px;
    }

    .what_we_do h2 {
        font-size: 16px;
        line-height: 18px;
    }

    .what_we_do h3 {
        font-size: 14px;
        line-height: 16px;
        margin: 7px 0 21px;
    }

    .what_we_do_container {
        max-width: 400px;
        margin: auto;
    }

    .what_we_do_container .d-flex {
        display: block;
        align-items: center;
    }

    .what_we_do .item {
        max-width: 576px;
        max-height: 600px;
        overflow: hidden;
        position: relative;
        margin-bottom: 16px;
    }

    .fuji-section, .monstera-section, .himalayas-section {
        min-height: 220px;
    }

    .fuji-section_general_text, .monstera-section_general_text, .himalayas-section_general_text {
        max-width: 180px;
        margin-right: 20px;
    }

    .fuji-section h5, .fuji-section p, .monstera-section h5, .monstera-section p, .himalayas-section h5, .himalayas-section p {
        font-size: 10px;
        line-height: 12px;
    }

    .past_clients {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .past_clients h3 {
        font-size: 18px;
        line-height: 20px;
    }

    .past_clients h4 {
        margin-top: 10px;
        font-size: 14px;
        line-height: 16px;
    }

    .getintouch-section {
        padding-top: 56px;
        padding-bottom: 54px;
    }

    .getintouch-section h3 {
        font-size: 20px;
        line-height: 26px;
    }

    .getintouch-section h4 {
        font-size: 14px;
        line-height: 16px;
    }

    footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-flex-lists ul:first-of-type {
        margin-left: 40px;
    }

    .subscription {
        display: block;
    }

    .subscription p {
        margin-bottom: 36px;
    }

    .final-subscript {
        max-width: 220px;
    }

}
/*@media screen and (max-width: 414px) {*/
/*}*/

@media screen and (max-width: 390px) {

    .footer-first_part {
        display: block;
        margin-right: 0;
    }

    .footer-first_part p {
        max-width: 380px;
    }

    .footer-flex-lists {
        justify-content: space-around;
        margin-top: 20px;
        margin-right: 40px;
    }

    .subscription form {
        width: 360px;
    }


    .subscription input {
        width: 270px;
    }
}

@media screen and (max-width: 375px) {


    .main_banner p {
        max-width: 340px;
    }

    .subscription form {
        width: 340px;
    }


    .subscription input {
        width: 250px;
    }
}

/*@media screen and (max-width: 360px) {*/
/*}*/

@media screen and (max-width: 320px) {


    .main_banner p {
        max-width: 320px;
    }

    .subscription form {
        margin: auto;
        width: 280px;
    }


    .subscription input {
        width: 190px;
    }

    .final-subscript {
        font-size: 10px;
        max-width: 146px;
    }

    .licensing {
        font-size: 9px;
    }
}

@media screen and (max-width: 280px) {


    .main_banner p {
        max-width: 240px;
    }

    .subscription form {
        margin: auto;
        width: 240px;
    }


    .subscription input {
        width: 150px;
    }
}

@media screen and (max-height: 428px) {
    .main_banner {height: 100vh;}
    .main_banner h2 {color: #FFFFFF;}
}
