@media screen and (max-width: 855px) {
    nav {
        --transition-time: 800ms;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background: transparent;
        transform: translateX(0%);
        transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
        z-index: 2;
        top: 0;
    }

    nav a {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 900;
        letter-spacing: 3px;
        text-decoration: none;
        user-select: none;
        color: white;
    }

    nav .nav-links {
        --link-height: 60px;
        position: relative;
        width: 100%;

    }

    nav .nav-links li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: var(--link-height);
        list-style: none;
        transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
        transition-delay: calc(30ms + var(--delay));
        cursor: pointer;
        z-index: 8;
    }

    nav .nav-links li:hover {
        color: rgba(255, 255, 255, 0.85);
    }

    nav .nav-links li a {
        pointer-events: none;
    }

    nav .nav-links li:last-of-type a {
        color: black;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding: 9px 20px 13px;
        font-size: 22px;
        font-weight: 900;
    }


    nav .nav-links li ol {
        display: none;
    }

    nav .nav-links .hover-el {
        position: absolute;
        width: 100%;
        height: var(--link-height);
        top: var(--y);
        left: var(--x);
        opacity: 0;
        background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
        transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
        pointer-events: none;
        z-index: 5;
    }

    nav .nav-links li:last-of-type:hover {
        transform: scale(1.1);
        transition: 250ms;
    }

    nav .menu-btn {
        display: none;
        justify-content: center;
        align-items: center;
        --icon-width: 25px;
        position: absolute;
        top: 18px;
        left: -15%;
        width: calc(var(--icon-width) + 25px);
        height: calc(var(--icon-width) + 25px);
        flex-direction: column;
        transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
        cursor: pointer;
        z-index: 10;
    }

    nav .menu-btn.close .line__1 {
        transform: rotate(45deg) translate(2px, -3px);
    }

    nav .menu-btn.close .line__2 {
        transform: rotate(-45deg);
    }

    nav .menu-btn.close .line__3 {
        transform: rotate(45deg) translate(-2px, 3px);
    }

    nav .menu-btn .line {
        width: var(--icon-width);
        background: #fff;
        height: 2px;
        margin: 3px 0;
        transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
    }

    nav .menu-btn .line__1 {
        width: var(--icon-width);
        transform-origin: left;
    }

    nav .menu-btn .line__2 {
        width: var(--icon-width);
        transform-origin: center;
    }

    nav .menu-btn .line__3 {
        width: var(--icon-width);
        transform-origin: right;
    }

    nav.nav-open {
        transform: translateX(0%);
        width: 100%;
    }

    nav.nav-open .menu-btn {
        left: 85%;
    }

    nav.nav-open .nav-links li {
        transform: translateX(0);
        opacity: 1;
    }

    nav .menu-btn {
        display: flex;

    }

    nav {
        transform: translateX(100%);
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(20px);
    }

    nav .nav-links li {
        opacity: 0;
        transform: translateX(50%);
    }
}


@media screen and (min-width: 856px) {

    nav .nav-links {
        display: flex;
        list-style: none;
    }

    nav .nav-links li {
        transition: 0.2s;
    }

    nav .nav-links li:hover {
        transform: scale(1.1)
    }

    nav .nav-links li:active {
        transform: translate(1px);
    }

    nav .nav-links li a {
        text-decoration: none;
        display: inline-block;
        color: white;
        margin-top: 10px;
        margin-right: 32px;
        font-size: 15px;
        line-height: 20px;
        white-space: nowrap;
    }

    nav .nav-links li:first-of-type a {
        font-size: 13px;
        margin-right: 56px;
        margin-top: 11px;
    }

    nav .nav-links li:nth-child(4) a {
        margin-right: 31px;
    }

    nav .nav-links li:last-of-type a {
        margin-top: 0;
        margin-right: 0;
        letter-spacing: 0.4px;
        color: black;
        background-color: #FFFFFF;
        border-radius: 14px;
        padding: 9px 20px 13px;
        font-size: 16px;
        font-weight: normal;
    }
}