@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #181818;
}

header div {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header a {
    display: inline-block;
    margin-top: 6px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    transition: 0.2s;
}

header ul li:hover {
    transform: scale(1.1)
}

header ul li:active {
    transform: translate(1px);
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-right: 32px;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
}

header ul li:first-of-type a {
    font-size: 13px;
    margin-right: 56px;
    margin-top: 11px;
}

header ul li:nth-child(4) a {
    margin-right: 31px;
}

header ul li:last-of-type a {
    margin-top: 0;
    margin-right: 0;
    letter-spacing: 0.4px;
    color: black;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px;
    font-size: 16px;
}

.main_banner {
    background-image: url(../images/1st_section_background.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.main_banner_general-text {
    max-width: 580px;
    text-align: center;
}

.main_banner h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.main_banner h1 {
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    font-weight: 400;
}

.main_banner p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.photo_info_main_banner li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_main_banner {
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.photo_info_main_banner li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_main_banner li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_main_banner li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_main_banner li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}


.what_we_do {
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: black;

}

.what_we_do_container {
    max-width: 1168px;
    margin: auto;
}

.what_we_do h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}

.what_we_do h3 {
    margin-top: 15px;
    margin-bottom: 42px;
    color: #C0C0C0;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.what_we_do .item {
    max-width: 576px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .item .description {
    position: absolute;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    bottom: 30px;
    font-size: 14px;
    line-height: 20px;
}

.what_we_do .item .description h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.what_we_do .item .description p {
    color: #C0C0C0;
    margin-bottom: 17px;
}

.btn {
    display: inline-flex;
    border-radius: 14px;
    background: #FFFFFF;
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding-right: 10px;
    transition: 0.2s;
}

.btn:before {
    content: "";
    background-image: url("../images/dot.svg");
    height: 32px;
    width: 32px;
    margin: 5px 6px 5px 4px;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    transform: translate(1px);
}


.fuji-section {
    background-image: url(../images/fuji_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.fuji-section_general_text {
    max-width: 298px;
    line-height: 20px;
    margin-right: 62px;
}

.fuji-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.fuji-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_fuji li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_fuji {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_fuji li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_fuji li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_fuji li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_fuji li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

.monstera-section {
    background-image: url(../images/monstera_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.monstera-section_general_text {
    max-width: 273px;
    line-height: 20px;
    margin-right: 87px;
}

.monstera-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.monstera-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_monstera li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_monstera {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_monstera li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_monstera li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_monstera li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_monstera li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

/*.................*/

.past_clients {
    background-color: #000000;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 140px;
}

.past_clients h3 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 400;
}

.past_clients h4 {
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    font-weight: 400;
}

.clients_logos {
    padding-top: 82px;
    max-width: 1168px;
    margin: auto;
}

.clients_logos a {
    max-width: 128px;
    display: inline-block;
}

.owl-stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 63px;
}

.owl-prev:before {
    color: white;
    font-size: 30px;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "\f053";
    font-weight: 900;

}

.owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 63px;
}

.owl-nav .owl-next {
    color: white;
    font-size: 30px;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "\f054";
    font-weight: 900;
}

/*.................*/


.himalayas-section {
    background-image: url(../images/himalayas_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.himalayas-section_general_text {
    max-width: 254px;
    line-height: 20px;
    margin-right: 119px;
}

.himalayas-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.himalayas-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_himalayas li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_himalayas {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_himalayas li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_himalayas li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_himalayas li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_himalayas li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

.getintouch-section {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
    text-align: center;
}

.getintouch-section h3 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 400;
}

.getintouch-section h4 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
    font-weight: 400;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

.footer_container {
    margin: auto;
    max-width: 1168px;
}

.footer-first_part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    margin-right: 102px;
}

.footer-flex-lists {
    display: flex;
}

footer p {
    color: #C0C0C0;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}

.footer-flex-lists ul {
    font-size: 14px;
    line-height: 20px;
    list-style: none
}

.footer-flex-lists ul li {
    margin-bottom: 10px;
}

.footer-flex-lists ul li a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}

.footer-flex-lists ul li:first-of-type {
    color: #C0C0C0;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.footer-flex-lists ul:last-of-type {
    margin-left: 55px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    align-items: center;
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-color: #FFFFFF;

}

.subscription h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}


.subscription form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 458px;
    height: 52px;
}


.subscription input {
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 370px;
    height: 40px;
    margin-left: 6px;
}


.subscription button {
    background: #000000;
    border-radius: 11px;
    width: 63px;
    height: 30px;
    margin-right: 6px;
}

.subscription button:hover {
    cursor: pointer;
}

.subscription button:active {
    transform: translateY(2px);
}

.footer-ending {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.final-subscript {

    font-size: 14px;
}

.licensing {
    text-decoration: none;
    color: #C0C0C0;
    font-size: 13px;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

}

.social-3 {
    margin-left: 26px;
}

.social-2 {
    margin-left: 20px;
}

