@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    width: 100%;
    z-index: 1;
}

header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #181818;
}

.header_container {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header_container-logo {
    display: inline-block;
    margin-top: 6px;
}

nav {
    --transition-time: 500ms;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    transform: translateX(0%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
    top: 0;
}

nav a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    user-select: none;
    color: #fff;
}

nav .nav-links {
    --link-height: 60px;
    position: relative;
    width: 100%;

}

nav .nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--link-height);
    list-style: none;
    opacity: 1;
    transform: translateX(0%);
    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
    transition-delay: calc(30ms + var(--delay));
    cursor: pointer;
    z-index: 8;
}

nav .nav-links li:hover {
    color: rgba(255, 255, 255, 0.85);
}

nav .nav-links li a {
    pointer-events: none;
}

nav .nav-links li:last-of-type a {
    color: black;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 9px 20px 13px;
    font-size: 22px;
    font-weight: 900;
}


nav .nav-links li ol {
    display: none;
}

nav .nav-links .hover-el {
    position: absolute;
    width: 100%;
    height: var(--link-height);
    top: var(--y);
    left: var(--x);
    opacity: 0;
    background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
    transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    pointer-events: none;
    z-index: 5;
}

nav .nav-links li:last-of-type:hover {
    transform: scale(1.1)
}


/*nav .sub-menu {*/
/*    --link-height: 60px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    transform: translateY(-50%);*/
/*}*/

/*nav .sub-menu ol {*/
/*    list-style: none;*/
/*}*/

/*nav .sub-menu ol li {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: var(--link-height);*/
/*    transition: all var(--transition-time) ease;*/
/*    transition-delay: calc(30ms + var(--delay));*/
/*    cursor: pointer;*/
/*}*/

/*nav .sub-menu ol li:hover {*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*}*/

/*nav .sub-menu ol li.off-menu {*/
/*    opacity: 0;*/
/*    transform: translateY(30%);*/
/*}*/

/*nav .sub-menu ol li.on-menu {*/
/*    opacity: 1;*/
/*    transform: translateY(0%);*/
/*}*/

/*nav .sub-menu ol li a {*/
/*    font-size: 1.2rem;*/
/*    font-weight: normal;*/
/*}*/

/*nav .sub-menu-btn {*/
/*    --icon-width: 40px;*/
/*    position: absolute;*/
/*    top: 6%;*/
/*    left: 10%;*/
/*    width: var(--icon-width);*/
/*    height: var(--icon-width);*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*    border-radius: 5px;*/
/*    opacity: 0;*/
/*    transform: translateX(-100%);*/
/*    transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);*/
/*    cursor: pointer;*/
/*    z-index: 8;*/
/*    pointer-events: none;*/
/*}*/

/*nav .sub-menu-btn .line {*/
/*    width: calc(var(--icon-width) - 28px);*/
/*    height: 2px;*/
/*    background: #fff;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 12px 10px;*/
/*}*/

/*nav .sub-menu-btn .line__1 {*/
/*    transform-origin: left;*/
/*    transform: rotate(-35deg) translate(-1px, 8px);*/
/*}*/

/*nav .sub-menu-btn .line__2 {*/
/*    transform-origin: left;*/
/*    transform: rotate(35deg) translate(-1px, -8px);*/
/*}*/

nav .menu-btn {
    display: none;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: 18px;
    left: -15%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10;
}

nav .menu-btn.close .line__1 {
    transform: rotate(45deg) translate(2px, -3px);
}

nav .menu-btn.close .line__2 {
    transform: rotate(-45deg);
}

nav .menu-btn.close .line__3 {
    transform: rotate(45deg) translate(-2px, 3px);
}

nav .menu-btn .line {
    width: var(--icon-width);
    background: #fff;
    height: 2px;
    margin: 3px 0;
    transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}

nav .menu-btn .line__1 {
    width: var(--icon-width);
    transform-origin: left;
}

nav .menu-btn .line__2 {
    width: var(--icon-width);
    transform-origin: center;
}

nav .menu-btn .line__3 {
    width: var(--icon-width);
    transform-origin: right;
}

nav.nav-open {
    transform: translateX(0%);
    width: 100%;

}


nav.nav-open .menu-btn {
    left: 85%;
}

nav.nav-open .nav-links li {
    transform: translateX(0);
    opacity: 1;
}

nav.sub-menu-open .sub-menu-btn {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
}

nav.sub-menu-open .nav-links li {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10%);
}

nav.sub-menu-open .nav-links .hover-el {
    opacity: 0;
}


.main_banner {
    background-image: url(../images/1st_section_background.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.main_banner_general-text {
    max-width: 580px;
    text-align: center;
}

.main_banner h2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.main_banner h1 {
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    font-weight: 400;
}

.main_banner p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.photo_info_main_banner li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_main_banner {
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.photo_info_main_banner li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_main_banner li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_main_banner li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_main_banner li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}


.what_we_do {
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: black;

}

.what_we_do_container {
    max-width: 1168px;
    margin: auto;
}

.what_we_do h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}

.what_we_do h3 {
    margin-top: 15px;
    margin-bottom: 42px;
    color: #C0C0C0;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.what_we_do .item {
    max-width: 576px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .item .description {
    position: absolute;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    bottom: 30px;
    font-size: 14px;
    line-height: 20px;
}

.what_we_do .item .description h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.what_we_do .item .description p {
    color: #C0C0C0;
    margin-bottom: 17px;
}

.btn {
    display: inline-flex;
    border-radius: 14px;
    background: #FFFFFF;
    text-decoration: none;
    align-items: center;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding-right: 10px;
    transition: 0.2s;
}

.btn:before {
    content: "";
    background-image: url("../images/dot.svg");
    height: 32px;
    width: 32px;
    margin: 5px 6px 5px 4px;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    transform: translate(1px);
}


.fuji-section {
    background-image: url(../images/fuji_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.fuji-section_general_text {
    max-width: 298px;
    line-height: 20px;
    margin-right: 62px;
}

.fuji-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.fuji-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_fuji li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_fuji {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_fuji li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_fuji li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_fuji li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_fuji li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

.monstera-section {
    background-image: url(../images/monstera_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.monstera-section_general_text {
    max-width: 273px;
    line-height: 20px;
    margin-right: 87px;
}

.monstera-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.monstera-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_monstera li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_monstera {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_monstera li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_monstera li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_monstera li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_monstera li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

/*.................*/

.past_clients {
    background-color: #000000;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 140px;
}

.past_clients h3 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 400;
}

.past_clients h4 {
    margin-top: 15px;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    font-weight: 400;
}

.clients_logos {
    padding-top: 82px;
    max-width: 1168px;
    margin: auto;
}

.clients_logos a {
    max-width: 128px;
    display: inline-block;
}

.owl-stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 106px;
}

.owl-prev:before {
    color: white;
    font-size: 30px;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "\f053";
    font-weight: 900;

}

.owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 106px;
}

.owl-nav .owl-next:before {
    color: white;
    font-size: 30px;
    font-family: "Font Awesome 6 Free", sans-serif;
    content: "\f054";
    font-weight: 900;
}

/*.................*/


.himalayas-section {
    background-image: url(../images/himalayas_banner.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.himalayas-section_general_text {
    max-width: 254px;
    line-height: 20px;
    margin-right: 119px;
}

.himalayas-section h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.himalayas-section p {
    font-size: 14px;
    color: #C0C0C0;
}

.photo_info_himalayas li {
    font-size: 12px;
    line-height: 12px;
    display: inline-flex;
    margin-left: 16px;
    color: #FFFFFF;
}

.photo_info_himalayas {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.photo_info_himalayas li:first-of-type:before {
    content: "";
    margin-right: 6px;
    width: 15px;
    display: block;
    height: 16px;
    background-image: url("../images/clock.svg");
}

.photo_info_himalayas li:nth-child(2):before {
    content: "";
    margin-right: 6px;
    width: 16px;
    display: block;
    height: 16px;
    background-image: url("../images/objective.svg");
}

.photo_info_himalayas li:nth-child(3):before {
    content: "";
    margin-right: 6px;
    width: 32px;
    display: block;
    height: 16px;
    background-image: url("../images/iso.svg");
}

.photo_info_himalayas li:last-of-type:before {
    content: "";
    margin-right: 6px;
    width: 10px;
    display: block;
    height: 16px;
    background-image: url("../images/geo.svg");
}

.getintouch-section {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
    text-align: center;
}

.getintouch-section h3 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 400;
}

.getintouch-section h4 {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
    font-weight: 400;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

.footer_container {
    margin: auto;
    max-width: 1168px;
}

.footer-first_part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    margin-right: 102px;
}

.footer-flex-lists {
    display: flex;
}

footer p {
    color: #C0C0C0;
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}

.footer-flex-lists ul {
    font-size: 14px;
    line-height: 20px;
    list-style: none
}

.footer-flex-lists ul li {
    margin-bottom: 10px;
}

.footer-flex-lists ul li a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}

.footer-flex-lists ul li:first-of-type {
    color: #C0C0C0;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.footer-flex-lists ul:last-of-type {
    margin-left: 55px;
}

.subscription {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    align-items: center;
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-color: #FFFFFF;

}

.subscription h6 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
}


.subscription form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    width: 458px;
    height: 52px;
}


.subscription input {
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 370px;
    height: 40px;
    margin-left: 6px;
}


.subscription button {
    background: #000000;
    border-radius: 11px;
    width: 63px;
    height: 30px;
    margin-right: 6px;
}

.subscription button:hover {
    cursor: pointer;
}

.subscription button:active {
    transform: translateY(2px);
}

.footer-ending {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.final-subscript {

    font-size: 14px;
}

.licensing {
    text-decoration: none;
    color: #C0C0C0;
    font-size: 13px;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;

}

.social-3 {
    margin-left: 26px;
}

.social-2 {
    margin-left: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background-color: black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background-color: black;
}

.ui-accordion .ui-accordion-content {
    background-color: black;
    border: none;
}

.what_we_do .item {
    width: 100%;
    height: auto;
}

.what_we_do .d-flex {
    flex-wrap: nowrap;
}

/*.ui-icon {*/
/*    background-image: none;*/
/*    background-position: 0;*/
/*    text-indent: 0;*/
/*    margin-top: 0;*/
/*    overflow: inherit;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*.ui.icon:before {*/
/*    font-family: "Font Awesome 6 Free", sans-serif;*/
/*    color: white;*/
/*    font-size: 50px;*/
/*    content: "\f078";*/
/*    font-weight: 900;*/
/*}*/


/*body::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background: rgba(0, 0, 0, 0.35); }*/

